.poll_element {
    border-style: solid;
    border-radius: 20px;
    border-color: lightblue;
    background-color:  lightblue;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start none;
    scroll-margin-block: 10px;
}

.poll_question {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

.poll_option {
    list-style-type: circle;
}

.user-voted {
    background-color: lightgreen;
}