<div>
    <p class="alt-text"> Username: {{username}} | Polls Made: {{userPolls.length}} | Polls Voted: {{votedPolls.length}} </p>

    <button (click)="logOut()" class="logout">Log Out</button>

    <button #editButton (click)="editOptions.hidden = !editOptions.hidden">
        {{ editOptions.hidden ? 'Show' : 'Hide' }} Account Edit Options
    </button>

    @if (errorMessage) {
      <p style="color: red;">{{ errorMessage }}</p>
    }

    <div #editOptions [hidden]="true">
        <button (click)="deleteAccount()">Delete Account</button>
        <br>
        <div>
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password" name="current-password" [(ngModel)]="currentPassword">
        </div>
        <div>
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="new-password" [(ngModel)]="newPassword">
        </div>
        <button (click)="updateAccount()">Update Password</button>
        @if (changePasswordSuccess) {
            <p style="color: green;">Password Updated</p>
        }
    </div>
</div>
<div>
    <div>
        <button (click)="setView('created')">Created Polls</button>
        <button (click)="setView('voted')">Voted Polls</button>
    </div>

    @if (viewMode === 'created') {
        <app-poll 
            *ngFor="let poll of userPolls" 
            [poll]="poll"
            [showControls]="true"
            (deletePollClicked)="deletePoll($event)"
            (toggleVisibilityClicked)="toggleVisibility($event)">
        </app-poll>
    } @else if (viewMode === 'voted') {
        <app-poll 
            *ngFor="let poll of votedPolls" 
            [poll]="poll">
        </app-poll>
    }
</div>