.create_poll_question {
    font-weight: bold;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 0.5%;
    padding-top: 10;
}

.create-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    background-color: coral;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 20px 25px;
    border-radius: 50px;
    margin: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 200ms;
}

.create-button:hover {
    transition: 500ms;
    background-color: rgb(255, 189, 66);
    scale: 1.1;
}

.entry-fields {
    overflow-wrap: normal;
    align-content: center;
}