<div class="poll_element">
  <p>Created by: {{poll.username}}</p>
  <p class="poll_question">{{ poll.question }}</p>
  <ul *ngFor="let option of poll.options">
    <li class="poll_option" [class.user-voted]="poll.user_vote === option.option_id">
      <button 
        (click)="onVoteClick(option)" 
        [disabled]="isVoteDisabled(option)"
        [style.background-color]="poll.user_vote === option.option_id ? 'lightgreen' : ''"
        class="vote-box">
        <span>{{option.content}}</span>
        <span class="vote-count-box">{{option.vote_count}}</span>
      </button>
    </li>
  </ul>
  
  @if (showControls) {
    <div class="poll-controls">
      <button class="visibility-button" (click)="onToggleVisibility()">{{ poll.is_visible ? 'Make Private' : 'Make Public' }}</button>
      <button class="delete-button" (click)="onDeleteClick()">Delete</button>
    </div>
  }

  @if (errorMessage) {
    <p style="color: red; text-align: center; margin-top: 10px;">{{ errorMessage }}</p>
  }
</div>