.poll_element {
    border-style: solid;
    border-radius: 20px;
    border: none;
    background-color:  rgb(207, 225, 231);
    width: 65%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    overflow: hidden;
    scroll-snap-type: both mandatory;
    scroll-snap-align: start none;
    scroll-margin-block: 10px;
    color: lightslategrey;
    transition: 150ms;
    scale: 0.9;
    opacity: 0.9;

}

.poll_question {
    font-size: xx-large;
    color: rgb(8, 21, 32);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    
}

.poll_element:hover {
    border-style: solid;
    border-radius: 20px;
    background-color:  lightblue;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 5%;
    overflow: hidden;
    scroll-snap-type: both mandatory;
    scroll-snap-align: start none;
    scroll-margin-block: 10px;
    color:black;
    scale: 1.0;
    opacity: 1.0;
    transition: 500ms;
    align-items: center;
    align-content: center;
    
}

.poll_option {
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    transition: 200ms;
}

.poll_element:hover .poll_option {
    visibility: visible;
    opacity: 1;
    transition: 200ms;
}