<div class="main_page">
  <div class="submission">
    @if (errorMessage) {
      <p style="color: red;">{{ errorMessage }}</p>
    }
    
    <button (click)="pollCreation.hidden = !pollCreation.hidden">
      {{ pollCreation.hidden ? 'Create Your Own Poll' : 'Hide Poll Creation' }}
    </button>
    
    <div #pollCreation [hidden]="true">
      <label for="question">Question</label>
      <input type="text" id="question" name="question" [(ngModel)]="questionField">
      <ul>
        @for (op of optionsFields; track i; let i = $index) {
          <li>
            <label for="option">Option {{i+1}}:</label>
            <input type="text" id="option" name="option" [(ngModel)]="optionsFields[i]">
          </li>
          <br>
        }
        <button (click)="addOptionField()">Add Option</button>
        <button (click)="createNewPoll()">Create Poll</button>
      </ul>
    </div>
  </div>
  

  <!--Show all polls in the database-->
  <!--For every poll in in the loaded results, repeat this div element-->
  <div class="poll-list" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <div *ngFor="let poll of allPolls" class="poll_element">
      <p class="poll_question">{{ poll.question }}</p>
      <!--For every option inside this poll, repeat this list element-->
      <ul *ngFor="let option of poll.options">
        <li class="poll_option" [class.user-voted]="poll.user_vote === option.option_id">
          <button (click)="vote(poll, option)" [disabled]="poll.user_vote">
            {{option.content}} - {{option.vote_count}}
          </button>
          @if(poll.user_vote === option.option_id){
            <button (click)="removeVote(poll, option)">
              Remove Vote
            </button>
          }
        </li>
      </ul>
    </div>
  </div>
</div>