.submission{
    margin: auto;
    ul{
        margin-top: 10px;
        padding-left: 0;
        text-align: center;
        width: 100%;
    }
    button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: coral;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 15px 15px;
        border-radius: 50px;
        margin: 8px;
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: 200ms;
    }
    .button-row {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    button:hover {
        transition: 500ms;
        background-color: rgb(255, 194, 80);
        scale: 1.05;
    }
    input{
        padding: 12px 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: white;
        border-radius: 4px;
        width: 90%;
    }
    input:focus{
        background-color: rgb(185, 255, 255);
    }
    label{
        text-align: right;
        font-weight: bold;
        color: #333;
    }

    .LI-row {
        display: grid;
        grid-template-columns: 150px 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    

}

div.submission {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 65%;
    min-width: 400px;

    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
    border: 1px solid #e0e0e0;
}

.alt-text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 50px;
    background-color: rgb(31, 137, 156);
    font-size: x-large;
    color: rgb(255, 255, 255);
    align-self: center;
    text-align: center;
    text-decoration: underline;
}

