.submission{
    margin: auto;
    ul{
        list-style-type: none;
        margin: 0;
        padding-left: 5%;
    }
    button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: coral;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
        padding: 20px 25px;
        border-radius: 50px;
        margin: 10px;
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: 200ms;
    }

    button:hover {
        transition: 500ms;
        background-color: rgb(255, 194, 80);
        scale: 1.05;
    }
    input{
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: white;
    }
    input:focus{
        background-color: rgb(185, 255, 255);
    }
    label{
        padding-right: 1%;
    }
    button.logout {
    align-items: center;
    align-self: center;
    align-content: center;
}
.logout {
    display: block;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 20px 25px;
    border-radius: 50px;
    margin: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 200ms;
}

.logout:hover{
    transition: 500ms;
    background-color: rgb(255, 72, 0);
    scale: 1.05;
}
}

div.submission {
    align-self: center;
    align-items: center;
    width: 60%;
}

.alt-text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 50px;
    background-color: rgb(31, 137, 156);
    font-size: x-large;
    color: rgb(255, 255, 255);
    align-self: center;
    text-align: center;
    text-decoration: underline;
}

