
<div>
  @if (currentAccount?.uuid){
    <div>
      <p>You are currently logged in as {{currentAccount?.username}}</p>
      <button (click)="logOut()">Log Out</button>
    </div>
  }
  <form>
    <ul>
      <li>
        <label for="login-username">Username</label>
        <input type="text" id="login-username" name="login-username" [(ngModel)]="usernameField">
      </li>
      <li>
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="login-password" [(ngModel)]="passwordField">
      </li>
      <br>
      <li>
        <button (click)="logIn()">Log In</button>
      </li>
    </ul>
      @if (loginSuccess == true){
        <!--This if block will never be shown anymore since if success we immedatbly go to account summary-->
        <p>Account {{currentAccount?.username}} logged in!</p>
      }
      @else if (loginSuccess == false){
        <p>Something went wrong in account log in</p>
      }
  </form>
</div>
