<div class="main_page">


  <p>{{ message }}</p>
  <button (click)="load()">Load Polls</button>
  <button (click)="createDummyData()">Create Dummy Polls</button>
  <!--Main poll content-->
  <!--For every poll in in the loaded results, repeat this div element-->
  <div *ngFor="let poll of allPolls" class="poll_element">
    <p class="poll_question">{{ poll.question }}</p>
    <!--For every option inside this poll, repeat this list element-->
    <ul *ngFor="let option of poll.options">
      <li class="poll_option"><button (click)="select(poll, option)">{{option}}</button></li>
    </ul>
  </div>
  <div>
  
  </div>

  
</div>