.poll_element {
    border-style: solid;
    border-radius: 20px;
    border: none;
    background-color:  rgb(207, 225, 231);
    width: 65%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    overflow-y: scroll;
    scroll-snap-type: both mandatory;
    scroll-snap-align: start none;
    scroll-margin-block: 10px;
    color: lightslategrey;
    transition: 300ms;
}

.poll_question {
    font-size: xx-large;
    color: rgb(8, 21, 32);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

.poll_element:hover {
    border-style: solid;
    border-radius: 20px;
    background-color:  lightblue;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 5%;
    overflow-y: scroll;
    scroll-snap-type: both mandatory;
    scroll-snap-align: start none;
    scroll-margin-block: 10px;
    color:black;
    transition: 500ms;
    
}

.poll_option {
    opacity: 0;
    visibility: hidden;
    list-style-type: circle;
    transition: 200ms;
}

.poll_element:hover .poll_option {
    visibility: visible;
    opacity: 1;
    transition: 200ms;
}


.create_poll_question {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 0.5%;
    padding-top: 10;
}

.create-button{
    position: fixed;
    background-color: coral;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 20px 25px;
    border-radius: 50px;
    margin: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 200ms;
}

.create-button:hover {
    transition: 500ms;
    background-color: rgb(255, 194, 80);
}

.entry-fields {
    overflow-wrap: normal;
    align-content: center;
}

