<div>
  <form>
    <ul>
      <li>
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" name="signup-username" [(ngModel)]="usernameField">
      </li>
      <li>
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" name="signup-password" [(ngModel)]="passwordField">
      </li>
      <li>
        <label for="signup-password-confirmation">Retype Password</label>
        <input type="password" id="signup-password-confirmation" name="signup-password-confirmation">
        
      </li>
      <br>
      <li>
        <button (click)="signUp()">Submit</button>
      </li>
      @if (accountCreateSuccess == true){
        <!--This if block will never be shown anymore since if success we immedatbly go to account summary-->
        <p>Account {{createdAccount?.username}} Created!!</p>
      }
      @else if (accountCreateSuccess == false){
        <p>Something went wrong in account creation</p>
      }


    </ul>
  </form>
</div>
