.poll_element {
    border-style: solid;
    border-radius: 20px;
    border-color: lightblue;
    background-color:  lightblue;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start none;
    scroll-margin-block: 10px;
}

.poll_question {
    margin: auto;
}

.poll_option {
    list-style-type: circle;
}