<div>
    <p> Username: {{currentAccount?.username}} | Polls Made: | Polls Done: </p>
    <button (click)="toggleShowAccountEditOptions()">Account Edit Options</button>
    @if(showAccountEditOptions){
        <div>
            <div>
                <label for="new-username">Edit Username</label>
                <input type="text" id="new-username" name="new-username" [(ngModel)]="newUsernameField">
                <button (click)="updateCurrentAccount()">Submit New Username</button>
            </div>
            <div>
                <button (click)="deleteCurrentAccount()">Delete Current Account</button>
            </div>
        </div>
    }
</div>
<div>
    <!--All polls created by this user-->
    <div *ngFor="let poll of allUserPolls" class="poll_element">
        <p class="poll_question">{{ poll.question }}</p>
        <button (click)="deletePoll(poll)">Delete</button>
        <!--For every option inside this poll, repeat this list element-->
        <ul *ngFor="let option of poll.options">
        <li class="poll_option"><button (click)="select(poll, option)">{{option.content}}</button></li>
        </ul>
    </div>
</div>