
<div class="submission">
  <form>
    <ul>
        <div class="LI-row">
          <label for="login-username">Username</label>
          <input type="text" id="login-username" name="login-username" [(ngModel)]="usernameField">
        </div>
        <div class="LI-row">
          <label for="login-password">Password</label>
          <input type="password" id="login-password" name="login-password" [(ngModel)]="passwordField">
        </div>
        <button (click)="logIn()">Login</button>
    </ul>
    
    @if (errorMessage) {
      <p style="color: red;">{{ errorMessage }}</p>
    }
    
  </form>
</div>
