body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 0;
    margin: 0;
}

.page {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: 100px 90%;
}

.page div.header {
    z-index: 10;
    position: sticky;
    top: 0;
    grid-area: header;

    color: black;
    background-color: whitesmoke;
}

.page div.header ul {
    list-style-type: none;
    float: unset;
    align-items: center;
}


.page div.header ul li a {
    display: block;
    color: black;
    background-color: rgb(51, 180, 223);
    text-align: center;
    padding: 20px 25px;
    border-radius: 50px;
    margin: 10px;
    text-decoration: none;
    transition: 500ms;
}

.page div.content {
    grid-area: content;
    width: 100%;
    
}

.page div.header ul li a:hover{
    background-color: rgb(153, 224, 248);
    transition: 200ms;
}