/* You can add global styles to this file, and also import other style files */
body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.stick-to-top {
    position: sticky;
    top: 10px;
}

ul.header_button {

    list-style-type: none;
    margin: 0;
    padding: 0;
        
}



ul.header_button li {
    float: unset;
}

ul.header_button li a {
    display: block;
    color: black;
    background-color: rgb(51, 180, 223);
    text-align: center;
    padding: 20px 25px;
    border-radius: 50px;
    margin: 10px;
    text-decoration: none;
}

ul.header_button li a:hover {
    background-color: rgb(118, 167, 184);
}



.down_gradient {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0,1), rgba(245,245,245,0));
    height: 30px;
    width: 150%;
    display: block;
    
}

.up_gradient {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 1), rgba(245,245,245,0));
    height: 30px;
    width: 150%;
    display: block;

}