body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 0;
    margin: 0;
}

.page {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: 100px 90%;
}

.page div.header {
    z-index: 10;
    position: sticky;
    top: 0;
    grid-area: header;

    color: black;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

ul.header_button {
    position: sticky;
    top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}



ul.header_button li {
    float: unset;
    align-items: center;
}


.page div.header ul li a {
    display: block;
    color: black;
    background-color: rgb(158, 218, 238);
    text-align: center;
    padding: 20px 25px;
    border-radius: 50px;
    margin: 10px;
    text-decoration: none;
}

ul.header_button li a:hover {
    background-color: rgb(118, 167, 184);
}



.down_gradient {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0,1), rgba(245,245,245,0));
    height: 30px;
    width: 150%;
    display: block;
    
}

.page div.header ul li a:hover{
    background-color: rgb(153, 224, 248);
    transition: 200ms;
}